<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <link href="{{ url_for('static', filename= 'css/auth.css') }}" rel="stylesheet">
    <div class="container">
        <label for="Login"><b>Логин</b></label>

        <input name="Login" placeholder="" required type="text">
        <label for="Password"><b>Пароль</b></label>
        <input name="Password" placeholder="" required type="password">
        <button type="submit">Войти</button>
        <div class="container">
            <span class="reg"> <a href="/registration">Регистрация</a></span>
        </div>
</form>
</body>
</html>